.main-container {
  margin-top: 0.5rem;
}

.table-container {
  overflow: auto;
  border: 1px solid #afafaf;
  border-radius: 8px;
}

table {
  border-spacing: 0;
  width: 100%;
  /* padding: 0px 2rem; */
}

.tableHead {
  background-color: #f8f8f8;
  border: 1px solid #afafaf;
}

td,
th {
  padding: 0.8rem 0rem;
  text-align: left;
}

th .data {
  font-weight: 1rem;
  font-size: 0.9rem;
  /* width: max-content; */
  /* color: hsl(200, 100%, 50%); */
}

.delete-and-pagination-area {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.delete-button {
  flex-basis: 25%;
}
.pagination {
  flex-basis: 65%;
  justify-content: center;
  align-self: center;
}

.dlt-btn {
  width: 9rem;
  height: 2rem;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 1rem;
}

.not-active {
  border: 1px solid #7f8fa6;
  color: #7f8fa6;
  background-color: #dcdde1;
}
