td,
th {
  min-width: 200px;
  margin: 0;
  padding: 0.2rem;
  border-bottom: 1px solid #e6e6e6;
  /* text-align: left; */
}

tr.checked {
  background-color: #c9c9c9;
}
.Delete {
  color: #e55039;
}
.data {
  background-color: transparent;
  font-size: 1rem;
  padding: 0.2rem 1rem;
  width: 100%;
  border: none;
}

.data:focus {
  outline: none;
}

.data.editable {
  align-self: auto;
  width: 80%;
  border-radius: 0.5rem;
  text-align: center;
  border: 1px solid grey;
}

.data.checked {
  border: none;
  background-color: transparent;
}

.data.editable:focus {
  border: 1px solid #0e0c0c;
}

.data.normal {
  border: none;
  caret-color: transparent;
  /* text-align: center; */
}

.icon {
  cursor: pointer;
  margin-right: 1rem;
  margin-left: 1rem;
}
